<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/" aria-label="Gleecin home">
                    <img src="/images/gleecin logo.png" alt="GLEECIN Academy Logo" class="logo-image">
                </a>
            </div>
        </div>
    </div>
</header>
