<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <img src="/images/gleecin%20logo.png" alt="GLEECIN Academy Logo" class="logo-image">
                    <h1 class="logo-text">GLEECIN Academy</h1>
                </a>
            </div>
            
            <nav class="main-nav">
                <ul>
                    <li><a href="/academy">Academy</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/learning">Learning</a></li>
                    <li><a href="/scripts">Scripts</a></li>
                    <li><a href="/lessons">Lessons</a></li>
                    <li><a href="/marketplace">Marketplace</a></li>
                    <li><a href="/certification">Certification</a></li>
                </ul>
            </nav>
            
            <div class="user-actions">
                <% if (user) { %>
                    <div class="user-menu">
                        <span>Welcome, <%= user.username %></span>
                        <a href="/profile" class="btn-primary">Profile</a>
                        <a href="/auth/logout" class="btn-secondary">Logout</a>
                    </div>
                <% } else { %>
                    <a href="/auth/login" class="btn-primary">Login</a>
                <% } %>
            </div>
        </div>
    </div>
</header>